<form method="POST">
    <div>
        <label>New Password</label>
        <input type="password" name="password"/>
    </div>
    
    <div>
        <label>Retype password</label>
        <input type="password" name="repassword"/>
    </div>

    <input type="submit"/>
</form>

<div asp-validation-summary="All"></div>
